{% extends "main.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Номер части</th>
      <th>№ хода</th>
      <th>Название</th>
      <th>Гос.номер</th>
      <th>Шасси</th>
      <th>Статус</th>
      <th>Л/С</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in results.items() %}
    <tr class="district">
      <td colspan="7" class="district">{{ key }}</td>
    </tr>
    {% set dict = value|sort_firedepartments(main_fireDepartment)%}


    {% for key2, value2 in dict.items() %}
    {% set outer_loop = loop %}
    <tr style="border-bottom: 2px solid #cecece;">
      {% set len2 = value2|dificult_length_calculator + value2.values()|length+1 %}
      <td rowspan="{{len2}}" class="class3" style="border-bottom: 2px solid #cecece;">
        {% if outer_loop.index==1 %}
            <img src="/static/images/crown.png" height="50" width="50" >
        {% endif %}  
        <h3 style="margin-top: 0px; font-size: large;">ПАСЧ-{{ key2 }}</h3>
      </td>
    </tr>
    {% set dict = value2|sort_number_of_firetrukset%}
    {% for key3, value3 in dict.items() %}
    <tr class='{{value3[0].status}}' style="border-top: 1px solid #cecece;">
      {% set len3 = value3|length + 1 %}
      <td rowspan="{{len3}}" style="width: 8%;border-bottom: 1px solid #cecece;">{{ key3 }}</td>
      {% for i in value3 %}
        <tr>
          <td class="{{i.status}}1" > {{ i.name }}</td>
          <td class="{{i.status}}2">

              
              <div style="border: 1px solid #000000; width: 150px; display: inline-block; margin: 1%; background-color: aliceblue;">
                  <div style="width: 10%; display: inline-block; font-size: small;">
                      <div>
                          <img src="/static/images/belarus.png" height="10" width="15">
                      </div>
                      <div>
                          BY
                      </div>
                  </div>
                  <div style="width: 85%; display: inline-block;">
                      {{i.licensePlate}}
                  </div>
              </div>
            </td>    

          
          <td class="{{i.status}}3" >{{i.chassis}}</td>
          {% set len4 = len3 - 1 %}
          {% if i.licensePlate==value3[0].licensePlate %}
          {% if i.status=='COM' %}

          <td rowspan="{{len4}}"  style=" width: 7%;" class="{{i.status}}4">
            <img src="/static/images/free-icon-correct-4436481.png" height="60" width="60">
          </td>
          {% elif i.status=='RES' %}
          <td rowspan="{{len4}}" style="width: 7%;" class="{{i.status}}4">
            <img src="/static/images/checklist.png" height="60" width="60" >
          </td>
          {% else %}
          <td rowspan="{{len4}}" style="width: 7%;" class="{{i.status}}4">
            <img src="/static/images/delete.png" height="60" width="60" >
          </td>
          {% endif %}
          <td rowspan="{{len4}}" class="{{i.status}}5" style="width: 7%;">
            {% if i.status=='COM' %}
            <a href="/?licensePlate={{i.licensePlate}}">
              {% elif i.status=='REP' or i.status=='RES' %}
              <a href="#" class="disabled">
                {% endif %}
                <img src="/static/images/free-icon-firefighter-7242607.png" height="60" width="60">
              </a>
          </td>
          {% endif %}
          {% endfor %}
        </tr>
    </tr>
    {% endfor %}
    {% endfor %}
    {% endfor %}



  </tbody>
</table>

{% endblock content %}


