{% extends "main.html" %}

{% block content %}
<table id="data" class="table table-striped" style="width: 90%;margin-left: 5%;">
    <thead>
    <tr>
        <th>Номер части</th>
        <th>ФИО</th>
        <th>Должность</th>
        <th>Звание</th>
        <th>Номер телефона</th>
    </tr>
    </thead>
    <tbody>
        {% for key, value in results.items() %}
            <tr>
                <td style="background-color: rgb(255, 255, 255); border-top: 0;" colspan="5" class="district">{{ key }}</td>
            </tr>
            {% set dict = value|sort_firedepartments(main_fireDepartment)%}      
            {% for key2, value2 in dict.items() %}
                <tr>
                    {% set len2 = value2|length + 1 %}
                    <td style="background-color: rgb(224, 224, 224);" rowspan="{{len2}}">ПАСЧ-{{ key2 }}</td>
                </tr>    
                {% for i in value2 %}
                    <tr>
                        <td style="background-color: rgb(207, 207, 207);">{{ value2[0].name }}</td>
                        <td style="background-color: rgb(184, 183, 183);">{{value2[0].post}}</td>
                        <td style="background-color: rgb(158, 158, 158);">{{value2[0].rank}} в/с</td>
                        <td style="background-color: rgb(139, 139, 139);">{{value2[0].phoneNumber}}</td>
                    </tr>
                {% endfor %}
            {% endfor %} 
    {% endfor %}
    </tbody>
</table>
{% endblock content %}