{% extends "main.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Гос.номер</th>
      <th>Шасси</th>
      <th>Статус</th>
      <th>Л/С</th>
    </tr>
  </thead>
  <tbody>
    <tr class="district">
      <td colspan="5" class="district"><img src="/static/images/crown.png" height="50" width="50" >
        <h3 style="margin-top: 0px; font-size: large;">ШТАБ</h3>
      </td>
    </tr>

    {% for i in results %}
        <tr>
          <td class="{{i.status}}1" > {{ i.name }}</td>
          <td class="{{i.status}}2">
              <div style="border: 1px solid #000000; width: 150px; display: inline-block; margin: 1%; background-color: aliceblue;">
                  <div style="width: 10%; display: inline-block; font-size: small;">
                      <div>
                          <img src="/static/images/belarus.png" height="10" width="15">
                      </div>
                      <div>
                          BY
                      </div>
                  </div>
                  <div style="width: 85%; display: inline-block;">
                      {{i.licensePlate}}
                  </div>
              </div>
          </td>    
          <td class="{{i.status}}3" >{{i.chassis}}</td>
            {% if i.status=='COM' %}
                <td rowspan="{{len4}}"  style=" width: 7%;" class="{{i.status}}4">
                    <img src="/static/images/free-icon-correct-4436481.png" height="60" width="60">
                </td>
            {% elif i.status=='RES' %}
                <td rowspan="{{len4}}" style="width: 7%;" class="{{i.status}}4">
                    <img src="/static/images/checklist.png" height="60" width="60" >
                </td>
            {% else %}
                <td rowspan="{{len4}}" style="width: 7%;" class="{{i.status}}4">
                    <img src="/static/images/delete.png" height="60" width="60" >
                </td>
            {% endif %}
            <td rowspan="{{len4}}" class="{{i.status}}5" style="width: 7%;">
                {% if i.status=='COM' %}
                <a href="/?licensePlate={{i.licensePlate}}&type=штаб">
                {% elif i.status=='REP' or i.status=='RES' %}
                    <a href="#" class="disabled"></a>
                {% endif %}
                <img src="/static/images/free-icon-firefighter-7242607.png" height="60" width="60">
                </a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}