<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
  <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css”>
  <title>Search Page</title>
  
</head>
<body style="background-image: url(/static/images/photo.jpg);background-position: center center;background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
<div style="background-color: aliceblue; width: 100%; height: 10%; position: absolute; top: 0%; left: 0%;">
  <form action="/" method="POST" class="search-wrapper active">
    <div class="input-holder">
        <input class="search-input" type="text" name="query"  placeholder="Type to search" />
        <button class="search-icon"><span></span></button>
    </div>
  </form>
  <nav style="position: absolute; left: 90%;"> 
    <ul class="topmenu" >  
      <li>
        <a  class="down">
          <img src="/static/images/free-icon-crown-6535600.png" height="60" width="60">
        </a> 
        <ul class="submenu">
          <li>
            <table id="table2">
              <thead>
                  <tr>
                      <th style="width: 25%;">Должность</th>
                      <th style="width: 30%;">ФИО</th>
                  </tr>
              </thead>
              <tbody>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Ответсвенные/отв</td>
                        <td style="background-color: rgb(184, 183, 183);">ответсвенные</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Диспетчера/дис</td>
                        <td style="background-color: rgb(184, 183, 183);">диспетчера</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">НДС</td>
                        <td style="background-color: rgb(184, 183, 183);">начальники дежурных смен</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">ЦОУ</td>
                        <td style="background-color: rgb(184, 183, 183);">личный состав ЦОУ,ШТАБА</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">ШТАБ</td>
                        <td style="background-color: rgb(184, 183, 183);">техника штаба</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Ремонт/Рем</td>
                        <td style="background-color: rgb(184, 183, 183);">техника гарнизона в ремонте</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Резерв/Рез</td>
                        <td style="background-color: rgb(184, 183, 183);">техника гарнизона в резерве</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Все/(пустая строка)</td>
                        <td style="background-color: rgb(184, 183, 183);">вся техника гарнизона и л/с</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Номер квадрата</td>
                        <td style="background-color: rgb(184, 183, 183);">последовательность техники согласно плану привлечения сил и средств и не находящаяся на выезде</td>
                      </tr>


              </tbody>
          </table>
          </li> 
        </ul> 
      </li> 
    </ul> 
  </nav>
  <nav style="position: absolute; left: 95%;">  
    <ul class="topmenu"  > 
      <li>
        <a  class="down">
          <img src="/static/images/free-icon-question-circular-button-107073.png" height="60" width="60">
        </a> 
        <ul class="submenu">
          <li>
            <table id="table2">
              <thead>
                  <tr>
                      <th style="width: 25%;">Должность</th>
                      <th style="width: 30%;">ФИО</th>
                  </tr>
              </thead>
              <tbody>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Ответственный по гарнизону</td>
                        <td style="background-color: rgb(184, 183, 183);">Бертош Андрей Валерьевич</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Главный оперативный дежурный</td>
                        <td style="background-color: rgb(184, 183, 183);">Король Иван Петрович</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Помошник главного оперативного дежурного</td>
                        <td style="background-color: rgb(184, 183, 183);">Ваинов Роман Петрович</td>
                      </tr>
                      <tr>
                        <td style="background-color: rgb(207, 207, 207);">Заместитель начальника штаба</td>
                        <td style="background-color: rgb(184, 183, 183);">Качанов Олег Петрович</td>
                      </tr>
              </tbody>
          </table>
          </li> 

           
        </ul> 
      </li> 
    </ul> 
  </nav>
</div>



  
  {% block content %}
    
  {% endblock content %}
  
  {% if firefighters %}
    {% set sorted_list = firefighters|sort_firefighters %}
    <div class="popup-fade">
      <div class="popup">
        <a class="popup-close" href="#">
            <img src="/static/images/delete.png" height="30" width="30" >
        </a>
        <table id="table" style="margin-top: 5%;">
            <thead>
                <tr>
                    <th style="width: 30%;">ФИО</th>
                    <th style="width: 25%;">Должность</th>
                    <th style="width: 20%;">Звание</th>
                    <th style="width: 25%;">Номер</th>
                </tr>
            </thead>
            <tbody>
                {% for i in sorted_list %}
                    <tr>
                      <td style="background-color: rgb(207, 207, 207);">{{ i.name }}</td>
                      <td style="background-color: rgb(184, 183, 183);">{{i.post}}</td>
                      <td style="background-color: rgb(158, 158, 158);">{{i.rank}} в/с</td>
                      <td style="background-color: rgb(139, 139, 139);">{{i.phoneNumber}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>		
    </div>
  {% endif %}
  
  <script src="https://yandex.st/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src = "{{ url_for('static', filename='js/js.js')}}">  </script>

</body>
</html>