{% extends "main.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Номер части</th>
        <th>Название(гос.номер автомобиля)</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
        {% for key, value in results.items() %}
            {% if  value|length>0 %}
                <tr>
                    <td colspan="3" class="district">{{ key }}</td>
                </tr>      
                {% for key2, value2 in value.items() %}
                    <tr>
                        {% set len2 = value2|length + 1 %}
                        <td class="RES" rowspan="{{len2}}" style="border-bottom: 1px solid #cecece;">ПАСЧ-{{ key2 }}</td>
                    </tr>    
                        {% for i in value2 %}
                            <tr>
                                <td class="RES1">{{ i.name }}{{i.chassis}} 
                                    <div style="border: 1px solid #000000; width: 150px; display: inline-block; margin: 1%; background-color: aliceblue;">
                                        <div style="width: 10%; display: inline-block; font-size: small;">
                                            <div>
                                                <img src="/static/images/belarus.png" height="10" width="15">
                                            </div>
                                            <div>
                                                BY
                                            </div>
                                        </div>
                                        <div style="width: 85%; display: inline-block;">
                                            {{i.licensePlate}}
                                        </div>
                                    </div>
                                </td>
                                <td class="RES2"> В резерве </td>
                            </tr>
                        {% endfor %}
                {% endfor %}
            {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock content %}